<?xml version="1.0"?>
<launch>
	<arg name="map" default="buvette" />
	<arg name="gui" default="true" />
	<include file="$(find minilab_simulation)/launch/minilab_gazebo.launch" >
		<arg name="map_name" value="$(arg map)" />
		<arg name="use_gui" value="$(arg gui)" />
	</include>
	<include file="$(find minilab_simulation)/launch/minilab_state_publisher.launch" />
	<node pkg="teleop_twist_keyboard" type="teleop_twist_keyboard.py" name="teleop" />
</launch>
